@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




#root {
  min-width: 100vw;
	min-height: 100vh;
}
:root{
  /* COLORS */
  --accent-color: #FF6B00;


  /* PADDING */
  --body-padding: 24px;
  --body-padding-mobile: 16px;

  /* SPACING */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;



}


body {
  padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}